[Unit]
Description=Wavenet Server
After=network.target

[Service]
Environment=PORT=8536
Type=simple
User=debian
ExecStart=/usr/bin/node /home/wavenet-tts-server/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target